/*
/* This changes the default set up for numbered lists
 * https://css-tricks.com/custom-list-number-styling/
*/
ol {
  counter-reset: fancy-counter;
  list-style: none;
  padding-left: 10px;
}
ol > li {
  margin: 0 0 0.5rem 0;
  counter-increment: fancy-counter;
  position: relative;
}
/* Need to apply this formatting to all 'li' in an ordered list **only**
* in css you do this using the syntax 'ol > li', which means 'li' "contained" in 'ol'
*/
ol > li::before {
  content: counter(fancy-counter);
  color: #002c53;
  font-size: 2.4rem;
  font-weight: normal;
  font-family: "Nanum Pen Script";
  position: absolute;
  --size: 30px;
  left: calc(-1 * var(--size) - 5px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-0deg);
  background: #647d97; /*black;*/
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 4px 0 #999;
}
/* This code here would reset the counter and make it start from whatever point
 * source: https://stackoverflow.com/questions/23699128/how-can-i-reset-a-css-counter-to-the-start-attribute-of-the-given-list
 *
<ol style="counter-reset: fancy-counter 9;">
    <li>Number Ten</li>
    <li>Number Eleven</li>
    <li>Number Twelve</li>
</ol>
 *
 * NB: Needs to use the HTML code directly into the Rmd files
 *     Also, needs to reset the counter to '(n-1)' if I want the next bullet point to be 'n'
*/


/*******************************************************************************************************************************
 * Colours
 * NB: In LaTeX, colors may be defined in rgb (0-1). Can scale up to RGB (0-255) by simply multiplying the three numbers by 255
 *     then can use 'https://www.google.com/search?channel=fs&client=ubuntu&q=rgb+to+hex' to convert to HEX and can use here
 ******************************************************************************************************************************/
.red {
  color: red;
}
.white {
  color: white;
}
.myred {
  color: #e62b4f;
}
.myblue {
  color: #24568c;
}
.purple {
  color: #3e2f5b;
}
.orange {
  color: #ff8811;
}
.olive {
  color: #334f17;
}
.ubuntublue {
  color: #035AA6;
}
.blue{
  color: #0000FF;
}
.spanish-red {
  color: #c60b1e;
}
.spanish-yellow {
  color: #ffc400;
}
.blue90red60 {
  color: #7e5dc9;
}
.blue60red90 {
  color: #9350c7;
}
.red65blue {
  color:#941494;
}
.lightgray {
  color: #ededed; /*#d3d3d3*/
}
.uclblue {
  /* https://www.ucl.ac.uk/cam/sites/cam/files/migrated-files/ucl-visual-identity-poster.pdf */
  color: #002855;
}
.navbargrey{
  color: #D5D5D5;
}
.magenta {
  color: #FF00FF;
}
.beamer-yellow {
  color: #fcd000;
}


/******************
 * Coloured content boxes
 ****************/
 
 /* This is a fudge to include the logo on all pages but cover it up on the title page */
 .white-box {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    color: white;
    width: 185px;
    height: 60px;
    top: 2.85%;
    left: 89.0%;
    z-index: 20!important;
}
 
.content-box {
    box-sizing: border-box;
    background-color: #e2e2e2;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
}
.content-box-subtitle {
	float: right;
	font-size: 50%;
  position: relative;
  transform: translateY(50%);  /*translateY(30%); */
  /* NB: Need to make sure the subtitle text is moved up (top: 0% + margin-top: -25px) so that the text doesn't go over the UCL logo
   *     Also, want to make the text font a bit thicker so that it is clearer the reader needs to look there...
  */
  top: 25%;
  font-weight: 450;
}
.content-box-subtitle > a {
  border-bottom: 1px solid #005EB8;
}
.content-box-subtitle a:hover {
  border-bottom: 10px;
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow,
.content-box-orange {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 10px 20px 10px 20px;
  width: 100%;
}
/*
 * Define a content box similar to the 'block' in 'Beamer/Boadilla'
 * with a light blue background and rounded borders + a title bar
*/
.content-box-beamer {
  color: #FFFFF;
  font-size: 80%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #dae4f5;
  padding: 0px 10px 5px 10px;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
}
/*
 * This defines the title bar (for 'h3' titles)
*/
.content-box-beamer h3 {
  background-color: #abb3d6;
  border-radius: 15px 15px 0px 0px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 5px;
  padding: 5px 10px 10px 10px;
}
.content-box-blue { background-color: #F0F8FF; }
.content-box-gray { background-color: #e2e2e2; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #d9edc2; }
.content-box-purple { background-color: #e2e2f9; }
.content-box-red { background-color: #ffcccc; }
/* These two are from the UCL palettes */
.content-box-yellow { background-color: #f6be00; }
.content-box-orange { background-color: #ea7600; }

/* Alignments */
.alignleft {
	float: left;
}
.alignright {
	float: right;
	/* Needs these two commands to prevent the UCL logo to sit on top of right-aligned objects */
	z-index: 1000;
	position: relative;
}


/* Customise table formatting, for a table produced by 'kable' with format 'markdown' */
.lightable-paper {
  font-family: "Ubuntu"!important;
}
.mdtable tr:not(:first-child) {
  border-bottom: 2px solid lightgrey;
}

.mdtable tr:last-child{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mdtable tr:first-child{
  border-top: 2px solid black;
  border-bottom: 0px solid black;
}

.mdtable tr:nth-child(2) {
  border-bottom: 2px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.mdtable tr:nth-child(5) {
  border-bottom: 2px solid black;
}

/* Alebaio's fix to not show the logo on the title page */
section[data-pdf-page-number="0"]  .logo {
	display: none;
}
/* and on special classes (nobar) */
section.nobar .logo {
	display: none
}

#references {
  overflow: hidden!important;
}

/*-- Code chunk background layer --*/
.reveal pre {
  overflow-x: auto;                     /* enable horizontal scrolling with overflow */
}