/*-- scss:defaults --*/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* Font to do nice numbered items */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

$font-family-sans-serif: "Ubuntu", "Arial", sans-serif !default;
$font-family-monospace: "Inconsolata" !default;
$presentation-font-size-root: 27.5px !default;
$presentation-h1-font-size: 2.5em !default;
$presentation-h2-font-size: 1.6em !default;
$presentation-h3-font-size: 1.2em !default;
$presentation-h4-font-size: 1em !default;
// Slightly increase the font-size for code (from the default quarto.scss)
$code-block-font-size: 0.75em !default;
$code-block-bg: #eaeeee!important;
//$code-bg: $code-block-bg;
// This impacts the callouts font
$presentation-font-smaller: 0.85 !default;
$presentation-heading-font-weight: 400 !default;

/* Colors */
// $body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #C5283D !default;
$selection-bg: #26351c !default;
$presentation-heading-color: #647d97;
$header-background-color: #002c53;
$text-muted: lighten($body-color, 30%) !default;

/* Formats the title slide */

.title-slide h2 {
  color: #647d97;
  font-family: $font-family-sans-serif;
  font-size: 2.5em!important;
  padding: 35px 30px 35px 30px;
  margin-left: 4%!important;
  margin-right: 4%!important;
  margin-top: 5%;
  margin-bottom: 30px!important;
  font-weight: 400;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
  border-radius: 15px;
  background-color: #002c53;
}

.title-slide .title {
  color: #647d97;
  font-family: $font-family-sans-serif;
  font-size: $presentation-h1-font-size;
  padding: 35px 30px 35px 30px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 30px;
  font-weight: 400;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
  border-radius: 15px;
  background-color: #002c53;
}

.title-slide .author {
  color: #000000;
  font-weight: bold;
  margin-top: 10pt;
  font-size: $presentation-h2-font-size;
  font-family: $font-family-sans-serif;
  margin-bottom: 30px;
}

.title-slide .institute, .conference {
  color: #000000!important;
  font-size: 1.3em!important;
  font-weight: 400;
  font-family: $font-family-sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-slide .institute a {
  color: #000000!important;
  font-size: 1em!important;
  font-weight: 400;
  font-family: $font-family-sans-serif!important;
  border-bottom: 1px solid #005EB8;
}

.title-slide .conference a {
  color: #000000!important;
  font-size: 1em!important;
  font-weight: 400;
  font-family: $font-family-sans-serif!important;
  border-bottom: 1px solid #005EB8;
}

.title-slide .social {
  font-size: .9em!important;
  line-height: .65!important;
  font-family: $font-family-monospace;
}

.title-slide .social a {
  color: #035AA6!important;
}

.title-slide .date {
  color: #000000!important;
  font-size: 1.3em!important;
  font-weight: 400;
  font-family: $font-family-sans-serif;
}

.title-slide a:hover {
  border-bottom: 10px;
}

.title-slide {
  text-align: center;
  vertical-align: middle;
}

/* Beaviour when hovering on links */
a:hover {
  border-bottom: 10px;
  background-color: #647d97;
  color: #002c53;
  border-radius: 4px 4px 4px 4px;
  padding: 0 2px 0 2px;
}

/* Headers */
h1 {
  color: #647d97; /* #FFFFFF; */
  font-weight: 300;
  font-family: $font-family-sans-serif;
  background-color: $header-background-color;
  padding: 20px 20px 20px 20px;
  margin: 0 -200px 10px -30px;
  font-weight: 300;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
  border-radius: 15px;
}

h2 {
  color: #647d97; /* #FFFFFF; */
  font-family: $font-family-sans-serif;
  background-color: $header-background-color;
  padding: 20px 20px 20px 20px;
  font-weight: 300;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.6);
  border-radius: 15px;
  margin-bottom: 50px!important;
}

h3 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: $header-background-color;
  font-size: $presentation-h3-font-size;
  margin-bottom: 25px!important;
}

/* Tries to manipulate the original footer */
/* 
.reveal .footer {
  background-image: linear-gradient(to right, rgb(0, 44, 83), rgb(100, 125, 151));
  height: 3%!important;
  bottom: 0!important;
  color: #D5D5D5!important;
  padding-top: .25%!important;
}
*/

.reveal .footer a {
  border-bottom: 1px solid #005EB8;
}
  

.reveal .slide-number {
/*
  color: #D5D5D5!important;
  padding-top: .25%!important;
*/
  font-family: $font-family-sans-serif;
}

/* This modifies the properties of the progress bar at the bottom of the slide */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #7e588aff;
  /* color: #647d97!important; */
}

.nobar h2 {
  background-color: transparent!important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0.0);
  border-radius: 0px;
}
.nobar .footer {
  display: "none";
}

.reveal .footer a {
  color: $text-muted!important;
}
