
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

.title-slide {
  background-image: url(www/TitleISPOR.PNG);
  background-size: contain;
  color: black;
  font-size: 1.15rem;
  padding: 16px 64px 16px 64px; /* 16px 64px 16px 64px; */
  width: 100%;
  height: 100%;
}

.title-slide h1 {
  color: black;
  text-shadow: none;
}

.title-slide h2 {
  color: black;
  text-shadow: none
}

.title-slide h3 {
  color: black;
  text-shadow: none
}

.remark-slide-content:not(.title-slide){
  background-image: url(www/ContentISPOR.PNG);
  background-size: contain;
  background-color: var(--background-color);
  font-size: 1.15rem;
  padding: 16px 64px 16px 64px; /* 16px 64px 16px 64px; */
  width: 100%;
  height: 100%;
  color: black;
}

.remark-slide-content {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}


body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'Arimo';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }